/build
scripts/build
scripts/deps
/CMakeLists.txt.user
/.idea
/src/backend/opencl/cl/cn/cryptonight_gen.cl
.vscode
/.qtcreator
/build-interp
/build-lsxonly
/build-portable
/build-control
/build-pristine
